<h2> Register: </h2>
<hr />

<form [formGroup] = "registerForm" (ngSubmit)= "submitForm(registerForm.value)" >
    <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput type="text" name="name" id="name">
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>Last name:</mat-label>
        <input matInput type="text" name="lastName" id="lastName">
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" id="email">
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput type="password" name="password" id="password">
    </mat-form-field>
    <br>

    <button mat-flat-button type="submit">Register</button>

   
</form>