#mainContainer {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

#headerContainer{
    position: absolute;
    width: 90vw;
    height: 5vh;
    left: 5vw;
}
#routerContainter{
    position: absolute;
    width: 90vw;
    left: 5vw;
    height: 100%;
}
