<!--<h2> Account information: </h2>
<hr />-->

<mat-card>
    <mat-card-header>
        <mat-card-title>Account information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p> Username: {{ username }} </p>
        <p> Email: {{ email }} </p>
        <p> Date of birth: {{ birthDate }} </p>
        <p> Date of registration: {{ date }} </p>
    </mat-card-content>
</mat-card>
<br>
<mat-divider></mat-divider>
<br>
<button mat-raised-button (click)="showFormForChangingPassword = !showFormForChangingPassword">
    Change password
</button>
<br><br>

<form [formGroup]="ChangePasswordForm" (ngSubmit)="submitChangePassword(ChangePasswordForm.value)"
    *ngIf="showFormForChangingPassword ? true : false">
    <mat-form-field>
        <mat-label> Username:</mat-label>
        <input matInput type="text" name="username" id="username" formControlName="username" [value]="username"
            readonly="true">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Current password:</mat-label>
        <input matInput type="password" name="currentPassword" id="currentPassword" formControlName="currentPassword">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>New password:</mat-label>
        <input matInput type="password" name="newPassword" id="newPassword" formControlName="newPassword">
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>Confirm password:</mat-label>
        <input matInput type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword">
    </mat-form-field>
    <br>

    <button type="submit" mat-flat-button [disabled]="isFormValid() ? false : true">Change</button>
    <br>

    <span [ngClass]="colorMessage()"> {{message}} </span>
    <br>

</form>