th{
    text-align: center;
    
}

td {
    text-align: center;
}

thead {
    position: sticky;
    top: 0px;
}



.odd-col:hover{
    background-color: gray;
    cursor: pointer;
  
}

#footballLeaguesList {
    overflow-y: auto;
    height: 80vh;
}


#footballMatchesTable{
   overflow-y: auto;
   height: 80vh;
}
