<div class='container'>
    <div class='table-responsive'>
        <table class='table table-bordered table-dark'>
            <thead>
                <th colspan='4'>FOOTBALL</th>
                <th colspan='9'>Odds</th>
            </thead>
            <thead class='thead-light'>
                <th>Date</th>
                <th>League name</th>
                <th>Home team</th>
                <th>Guest team</th>
                <th>1</th>
                <th>X</th>
                <th>2</th>
                <th>1X</th>
                <th>12</th>
                <th>X2</th>
                <th>0-2</th>
                <th>3+</th>
                <th>4+</th>
            </thead>
            <tr *ngFor='let footballMatch of footballMatches'>
                <th>
                    {{footballMatch.time}}
                </th>
                <th>
                    {{footballMatch.league}}
                </th>
                <th>
                    {{footballMatch.homeTeam}}
                </th>
                <th>
                    {{footballMatch.guestTeam}}
                </th>
                <th class='odd-col'>
                    {{ footballMatch.odd1 }}
                </th>
                <th class='odd-col'>
                    {{ footballMatch.oddX }}
                </th>
                <th class='odd-col'>
                    {{ footballMatch.odd2 }}
                </th>
                <th class='odd-col'>
                    {{ footballMatch.odd1X }}
                </th>
                <th class='odd-col'>
                    {{ footballMatch.odd12 }}
                </th>
                <th class='odd-col'>
                    {{ footballMatch.oddX2 }}
                </th>
                <th class='odd-col'>
                    {{ footballMatch.odd0to2 }}
                </th>
                <th class='odd-col'>
                    {{ footballMatch.odd3plus }}
                </th>
                <th class='odd-col'>
                    {{ footballMatch.odd4plus }}
                </th>
            </tr>

        </table>
    </div>
</div>