th{
    text-align: center;
}

thead {
    position: sticky;
    top: 0px;
}

.odd-col:hover{
    background-color: gray;
    cursor: pointer;
}

#wrapper {
    width: 1000px;
    border: 1px solid black;
    overflow: hidden; /* add this to contain floated children */
}

.matches {
    width: 500px;
    float:left; /* add this */
    border: 1px solid red;
}
.leagues {
    width: 500px;
    border: 1px solid green;
    float: left; /* add this */
}  

#basketballLeaguesList {
    position: absolute;
    display: inline-block;
    overflow-y: scroll;
    width: 15vw;
    height: 80vh;
}

#basketballMatchesTable{
    position: relative;
    display: inline-block;
    overflow-y: scroll;
    width: 65vw;
    left: 1.9vw;
    height: 80vh;
}
