<app-basketball-league (emitCheckedChange)="onCheckedChange($event)"> </app-basketball-league>
<div class='container'>
    <div class='table-responsive'>
        <table class='table table-bordered table-dark'>
            <thead>
                <th colspan='4'>BASKETBALL</th>
                <th colspan='9'>Odds</th>
            </thead>
            <thead class='thead-light'>
                <th>Date</th>
                <th>League name</th>
                <th>Home team</th>
                <th>Guest team</th>
                <th>1</th>
                <th>X</th>
                <th>2</th>
                <th>1X</th>
                <th>X2</th>
                <th>Winner1</th>
                <th>Winner2</th>
            </thead>
            <tr *ngFor='let basketballMatch of basketballMatches | async'>
                <th>
                    {{basketballMatch.time}}
                </th>
                <th>
                    {{basketballMatch.league}}
                </th>
                <th>
                    {{basketballMatch.homeTeam}}
                </th>
                <th>
                    {{basketballMatch.guestTeam}}
                </th>
                <th class='odd-col'
                    (click) = "addToTicket(basketballMatch,$event)"
                    id = "1">
                    {{ basketballMatch.odd1 }}
                </th>
                <th class='odd-col'
                    (click) = "addToTicket(basketballMatch,$event)"
                    id = "X">
                    {{ basketballMatch.oddX }}
                </th>
                <th class='odd-col'
                    (click) = "addToTicket(basketballMatch,$event)"
                    id = "2">
                    {{ basketballMatch.odd2 }}
                    
                <th class='odd-col'
                    (click) = "addToTicket(basketballMatch,$event)"
                    id = "1X">
                    {{ basketballMatch.odd1X }}
                </th>
                <th class='odd-col'
                    (click) = "addToTicket(basketballMatch,$event)"
                    id = "X2">
                    {{ basketballMatch.oddX2 }}
                </th>
                <th class='odd-col'
                    (click) = "addToTicket(basketballMatch,$event)"
                    id = "winner1">
                    {{ basketballMatch.oddWinner1 }}
                </th>
                <th class='odd-col'
                    (click) = "addToTicket(basketballMatch,$event)"
                    id = "winner2">
                    {{ basketballMatch.oddWinner2 }}
                </th>
            </tr>

        </table>
    </div>
</div>