<div class='row'>
    <app-basketball-league class='col-3' (emitCheckedChange)="onCheckedChange($event)" id="basketballLeaguesList">
    </app-basketball-league>
    <div class='container col-9' id="basketballMatchesTable">
        <div class='table-responsive'>
            <table class='table table-bordered table-dark'>
                <thead>
                    <th colspan='4'>BASKETBALL</th>
                    <th colspan='9'>Odds</th>
                </thead>
                <thead class='thead-light'>
                    <th>Date</th>
                    <th>League name</th>
                    <th>Game</th>
                    <th>1</th>
                    <th>X</th>
                    <th>2</th>
                    <th>1X</th>
                    <th>X2</th>
                    <th>Winner1</th>
                    <th>Winner2</th>
                </thead>
                <tbody>
                    <tr *ngFor='let basketballMatch of basketballMatches | async'>
                        <td>
                            {{basketballMatch.time}}
                        </td>
                        <td>
                            {{basketballMatch.league}}
                        </td>
                        <td>
                            {{basketballMatch.homeTeam}} - {{basketballMatch.guestTeam}}
                        </td>
                        <td class='odd-col' (click)="addToTicket(basketballMatch,$event)" id="1">
                            {{ basketballMatch.odd1 }}
                        </td>
                        <td class='odd-col' (click)="addToTicket(basketballMatch,$event)" id="X">
                            {{ basketballMatch.oddX }}
                        </td>
                        <td class='odd-col' (click)="addToTicket(basketballMatch,$event)" id="2">
                            {{ basketballMatch.odd2 }}
    
                        <td class='odd-col' (click)="addToTicket(basketballMatch,$event)" id="1X">
                            {{ basketballMatch.odd1X }}
                        </td>
                        <td class='odd-col' (click)="addToTicket(basketballMatch,$event)" id="X2">
                            {{ basketballMatch.oddX2 }}
                        </td>
                        <td class='odd-col' (click)="addToTicket(basketballMatch,$event)" id="winner1">
                            {{ basketballMatch.oddWinner1 }}
                        </td>
                        <td class='odd-col' (click)="addToTicket(basketballMatch,$event)" id="winner2">
                            {{ basketballMatch.oddWinner2 }}
                        </td>
                    </tr>
                </tbody>
                

            </table>
        </div>
    </div>
</div>