#homeContainer{
   position: absolute;
   width: 90vw;
   right: 1vw;
   background-color:transparent;
}

#showTicketButton{
    position: absolute;
    right:-4vw;
    top:20vw;
    transform: rotate(90deg);
}