th{
    text-align: center;
}

thead {
    position: sticky;
    top: 0px;
}

.odd-col:hover{
    background-color: gray;
    cursor: pointer;
}

#tennisLeaguesList {
    position: absolute;
    display: inline-block;
    overflow-y: scroll;
    width: 15vw;
    height: 80vh;
}

#tennisMatchesTable{
    position: relative;
    display: inline-block;
    overflow-y: scroll;
    width: 65vw;
    left: 1.9vw;
    height: 80vh;
}
