<div class='container'>
    <div class='table-responsive'>
        <table class='table table-bordered table-dark'>
            <thead>
                <th colspan='4'>FOOTBALL</th>
                <th colspan='9'>Odds</th>
            </thead>
            <thead class='thead-light'>
                <th>Date</th>
                <th>League name</th>
                <th>Home team</th>
                <th>Guest team</th>
                <th>1</th>
                <th>2</th>
                <th>FS1</th>
                <th>FS2</th>
                <th>H1</th>
                <th>H2</th>
            </thead>
            <tr *ngFor='let tennisMatch of tennisMatches | async'>
                <th>
                    {{tennisMatch.time}}
                </th>
                <th>
                    {{tennisMatch.league}}
                </th>
                <th>
                    {{tennisMatch.homeTeam}}
                </th>
                <th>
                    {{tennisMatch.guestTeam}}
                </th>
                <th class='odd-col'>
                    {{ tennisMatch.odd1 }}
                </th>
                <th class='odd-col'>
                    {{ tennisMatch.odd2 }}
                </th>
                <th class='odd-col'>
                    {{ tennisMatch.oddFirstSet1 }}
                </th>
                <th class='odd-col'>
                    {{ tennisMatch.oddFirstSet2 }}
                </th>
                <th class='odd-col'>
                    {{ tennisMatch.oddHen1 }}
                </th>
                <th class='odd-col'>
                    {{ tennisMatch.oddHen2 }}
                </th>
            </tr>

        </table>
    </div>
</div>