th{
    text-align: center;
}

thead {
    position: sticky;
    top: 0px;
}

.odd-col:hover{
    background-color: gray;
    cursor: pointer;
}

#tennisLeaguesList {
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 400px;
    overflow-y: scroll;
}

#tennisMatchesTable{
    position: relative;
    left: 300px;
    display: inline-block;
    width: 900px;
    height: 400px;
    overflow-y: scroll;
}