<div class='row'>
    <app-tennis-league class='col-3' (emitCheckedChange)="onCheckedChange($event)" id="tennisLeaguesList">
    </app-tennis-league>
    <div class='container col-9' id="tennisMatchesTable">
        <div class='table-responsive'>
            <table class='table table-bordered table-dark'>
                <thead>
                    <th colspan='4'>TENNIS</th>
                    <th colspan='9'>Odds</th>
                </thead>
                <thead class='thead-light'>
                    <th>Date</th>
                    <th>League name</th>
                    <th>Game</th>
                    <th>1</th>
                    <th>2</th>
                    <th>FS1</th>
                    <th>FS2</th>
                    <th>H1</th>
                    <th>H2</th>
                </thead>
                <tbody>
                    <tr *ngFor='let tennisMatch of tennisMatches | async'>
                        <td>
                            {{tennisMatch.time}}
                        </td>
                        <td>
                            {{tennisMatch.league}}
                        </td>
                        <td>
                            {{tennisMatch.homeTeam}} - {{tennisMatch.guestTeam}}
                        </td>
                        <td class='odd-col' (click)="addToTicket(tennisMatch, $event)" id="1">
                            {{ tennisMatch.odd1 }}
                        </td>
                        <td class='odd-col' (click)="addToTicket(tennisMatch, $event)" id="2">
                            {{ tennisMatch.odd2 }}
                        </td>
                        <td class='odd-col' (click)="addToTicket(tennisMatch, $event)" id="firstSet1">
                            {{ tennisMatch.oddFirstSet1 }}
                        </td>
                        <td class='odd-col' (click)="addToTicket(tennisMatch, $event)" id="firstSet2">
                            {{ tennisMatch.oddFirstSet2 }}
                        </td>
                        <td class='odd-col' (click)="addToTicket(tennisMatch, $event)" id="hen1">
                            {{ tennisMatch.oddHen1 }}
                        </td>
                        <td class='odd-col' (click)="addToTicket(tennisMatch, $event)" id="hen2">
                            {{ tennisMatch.oddHen2 }}
                        </td>
                    </tr>

                </tbody>
                

            </table>
        </div>
    </div>
</div>