

<div id="listWhenLogged">
  <button mat-button [routerLink]="['/']">Home Page</button>
  <button mat-button *ngIf="isUserLogged();" [routerLink]="['/makeMeRich']">Make me rich</button>
  <button mat-button *ngIf="isUserLogged();" [routerLink]="['/check']">Check your tickets</button>
  <button mat-button *ngIf="isUserLogged();" [routerLink]="['/account']">Account</button>
</div>

<div id="listAlwaysShowing">
  <button mat-button [routerLink]="['/logIn']">Log in</button>
  <button mat-button [routerLink]="['/register']">Register</button>
</div>