@import "~bootstrap/dist/css/bootstrap";
html, body { height: 100%;}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('assets/background2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.accountContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 50vh;
    margin-top: -25em;
    margin-left: -25em;
}