@import "~bootstrap/dist/css/bootstrap";
html, body { height: 100%;}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('assets/background3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

