<div id='makeMeRichContainer'>
    <form [formGroup]="ticketInfoForm" (ngSubmit)="submit(ticketInfoForm.value)"
        *ngIf="notGenerated; else generatedTicket">

        <mat-form-field>
            <mat-label>Choose sport</mat-label>
            <mat-select formControlName="sport" [(value)]="selectedSport" (selectionChange)="onSportChange($event)">
                <mat-option value="football">football</mat-option>
                <mat-option value="basketball">basketball</mat-option>
                <mat-option value="tennis">tennis</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Choose sport:
        <select formControlName="sport" (change)="onSportChange($event)">
            <option value="all">all</option>
            <option value="football">football</option>
            <option value="basketball">basketball</option>
            <option value="tennis">tennis</option>
        </select> -->

        <div [class.chooseLeague]="isSelected()">
            <mat-selection-list>
                <mat-list-option *ngFor="let league of leagues | async" [value]="league.league"
                    (change)="setSelectedLeagues($event)" id={{league.league}}>
                    {{league.league}}
                </mat-list-option>
            </mat-selection-list>
        </div>


        <!--<div class="table-responsive" [class.chooseLeague]="isSelected()">
        <table class="table table-bordered">
            <tr *ngFor='let league of leagues | async'>
                <th>
                    <div class="custom-control">
                        <input type="checkbox" class="custom-control-input" (change)="setSelectedLeagues($event)"
                            id={{league.league}} name={{league.league}}>
                        <label class="custom-control-label" for={{league.league}}>{{league.league}}</label>
                    </div>
                </th>
            </tr>
        </table>
    </div>-->

        <br>

        <mat-form-field>
            <mat-label> Quota? </mat-label>
            <input matInput type="number" formControlName="quota">
            <mat-error>Invalid entry</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>Enter number of games</mat-label>
            <input matInput type="number" formControlName="limit" matTooltip="Maximum number of games is 50">
            <mat-error>Invalid entry</mat-error>
        </mat-form-field>
        <br>
        <button mat-button type="submit">Submit</button>


    </form>


    <ng-template #generatedTicket>
        <div class="container">
            <div class="table-responsive">
                <table class='table table-bordered table-dark'>
                    <thead>
                        <th colspan='12'>Ticket</th>
                    </thead>
                    <thead class='thead-light'>
                        <th>Date</th>
                        <th>Home team</th>
                        <th>Guest team</th>
                        <th>OddType </th>
                        <th>OddValue</th>
                    </thead>
                    <tr *ngFor='let match of ticket | async'>
                        <th>
                            {{match.time}}
                        </th>
                        <th>
                            {{match.homeTeam}}
                        </th>
                        <th>
                            {{match.guestTeam}}
                        </th>
                        <th>
                            {{match.oddType}}
                        </th>
                        <th>
                            {{match.oddValue}}
                        </th>
                    </tr>
                    <thead>
                        <button mat-flat-button color="primary" (click)="saveTicket()" [disabled]="!username"> Save
                        </button>
                        <button mat-flat-button color="primary" (click)="notGenerated=true;"> I don't like this
                        </button>
                    </thead>
                </table>
            </div>
        </div>
    </ng-template>
</div>