<div class='container'>
    <div class="row" *ngFor='let footballMatch of footballMatches'>
        <div class="col-sm">
            {{footballMatch.getDate()}}
        </div>
        <div class="col-sm">
            {{footballMatch.getLeagueName()}}
        </div>
        <div class="col-sm">
            {{footballMatch.getTeamHome()}} {{footballMatch.getTeamGuest()}}
        </div>
        <div class="col-sm" *ngFor='let odd of footballMatch.getOdds();'>
            {{odd}}
        </div>
    </div>
</div>